@import "../../node_modules/bootstrap/scss/functions";
@import "../../node_modules/bootstrap/scss/variables";
@import "../../node_modules/bootstrap/scss/mixins";
@import "../../node_modules/bootstrap/scss/root";

@import './common/variables';
@import './common/base';
@import './common/navbar';
@import './common/event';
@import './home';
@import './profile';
@import './footer';
@import './login';

* {
  box-sizing: border-box;
  margin: 0;
}

.site-wrapper {
  min-height: 100vh;
  background: linear-gradient(#F8F4F2, #ffebb0, #ffe4a0);
}

