

// COLOUR PALLETTE 

//  strong colours
$deepRed: #BF4040;
$tealGreen: #174C4F;
$darkGrey: #404040;

// neutral colours
$brightBrown: #AE581A;
$darkBrown: #A0621A;

// light colours
$lightYellow: #FFE184;
$offWhite: #F8F4F2;

