@import './variables';


.show {
  .nav-item {
    padding-block: 0.2rem;
  }
}
.navbar {
  background: #F8F4F2;
}
.nav-item {
  position: relative;
  padding-inline: 0.5rem;
  .clickable {
    cursor: pointer;
    color: #000;
    &:hover {
      color: conic-gradient(90deg, rgba(63,94,251,1) 0%, rgba(252,70,107,1) 100%);
    }
  }
  .blockEffect::before, .clickable {
    content: '';
    position: absolute;
    display: block;
    height: 5px;
    width: 100%;
    background-color: $deepRed;
    bottom: 0;
    width: 0%;
    transition: all ease-in-out 250ms;
  }
  .blockEffect:hover::before {
    width: 100%;
  }
  a, .clickable {
    cursor: pointer;
    text-decoration: none;
    color: #000;
    &:hover {
      color: linear-gradient(90deg, rgba(63,94,251,1) 0%, rgba(252,70,107,1) 100%);
    }
    transition: all ease-in-out 250ms;
  }
}