@import './variables';

.navbar {
  .container-fluid {
    // .show {
    //   display: flex;
    //   flex-direction: column;
    //   align-items: flex-end;
    // }
    .nav-item {
      padding-inline: 0.5rem;
      .clickable {
        cursor: pointer;
        color: #000;
        &:hover {
          zoom: 105%;
        }
      }
      a {
        text-decoration: none;
        color: #000;
        &:hover {
          zoom: 105%;
        }
      }
    }
  }
}