
.show {
  .nav-item {
    padding-block: 0.2rem;
  }
}
.nav-item {
  padding-inline: 0.5rem;
  .clickable {
    cursor: pointer;
    color: #000;
    &:hover {
      color: linear-gradient(90deg, rgba(63,94,251,1) 0%, rgba(252,70,107,1) 100%);
    }
  }
  a, .clickable {
    cursor: pointer;
    text-decoration: none;
    color: #000;
    &:hover {
      color: linear-gradient(90deg, rgba(63,94,251,1) 0%, rgba(252,70,107,1) 100%);
    }
  }
}